.formContainer {
  button {
    width: 28px;
    height: 28px;
    cursor: pointer;

    color: #ffff;
    background-color: var(--primary);
    border: none;
    border-radius: 3px;
    font-weight: bold;
  }

  input {
    padding: 3px 5px;
    margin-right: 4px;
  }
}
