.experienceItemContainer {
  ul {
    margin-left: 30px;

    .itemList {
      display: flex;
      gap: 4px;

      button {
        width: 20px;
        height: 20px;
        cursor: pointer;

        color: #ffff;
        background-color: var(--red);
        border: none;
        border-radius: 3px;
        font-weight: bold;
      }
    }
  }
}
