.resumeHeaderContainer {
    align-self: end;
    text-align: end;
    font-weight: bold;

    margin-bottom: 20px;

    h1 {
        font-size: 3rem;
        margin-bottom: 16px;
    }

    h3 {
        font-size: 1.5rem;
        color: rgb(92, 92, 92);
    }
}